{
  "openapi": "3.1.0",
  "info": {
    "title": "Sustainable Web Analyzer",
    "version": "1.0.0",
    "description": "How sustainable is a web page: weight, file types, semantic HTML, green hosting, server locations, cookies and CO2 per visit. Results are cached for a week."
  },
  "servers": [
    { "url": "https://swa.kreativ-anders.dev", "description": "Public endpoint" }
  ],
  "security": [],
  "tags": [
    { "name": "Analysis", "description": "Analyze a web page." }
  ],
  "paths": {
    "/api/": {
      "get": {
        "tags": ["Analysis"],
        "operationId": "analyze",
        "summary": "Analyze a web page",
        "description": "Open endpoint, protected by rate limits instead of keys. Per day and IP: 10 uncached analyses and 200 requests in total. Across all callers: 50 uncached analyses of any one target host and 6 running at the same time. Cached results count against none of it, so repeating a request is always free. Successful responses carry `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset`.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "HTTPS URL, port 443. The scheme may be omitted.",
            "schema": { "type": "string", "maxLength": 2048 },
            "example": "https://kreativ-anders.de"
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Analysis" },
                "example": {
                  "meta": {
                    "url": "https://kreativ-anders.de/",
                    "analyzed_at": "2026-09-21T17:51:59+02:00",
                    "final_url": "https://kreativ-anders.de/",
                    "duration_ms": 1272,
                    "skipped": 0,
                    "sizes": {
                      "content_length": 11,
                      "download": 0
                    },
                    "truncated": false,
                    "limits": [],
                    "cached": true,
                    "version": "1.0.0"
                  },
                  "requests": {
                    "https://kreativ-anders.de/": 11858,
                    "https://api.pirsch.io/pirsch.js": 4427,
                    "https://kreativ-anders.de/assets/js/templates/home.js?52a8275d8d42e8b66bb1afcb6e2d169f": 1107,
                    "https://kreativ-anders.de/assets/css/main.min.css": 88362,
                    "https://kreativ-anders.de/assets/css/templates/home.css": 328,
                    "https://kreativ-anders.de/media/pages/home/7ffc5629e3-1668585768/lean.gif": 3007,
                    "https://kreativ-anders.de/media/pages/home/343ad23ba5-1668585768/transparent.gif": 6056,
                    "https://kreativ-anders.de/media/pages/home/210eafff01-1668585768/success.gif": 35365,
                    "https://kreativ-anders.de/media/pages/home/4f6760e671-1668585768/stabilo-promotion-products-logo-450x300.png": 19381,
                    "https://kreativ-anders.de/media/pages/home/095e3b78a3-1668585768/roedl-energie-logo-450x300.png": 16222,
                    "https://kreativ-anders.de/media/pages/home/cd9f661143-1668585768/meflotec-logo-450x300.png": 11764,
                    "https://kreativ-anders.de/media/pages/home/4f0d09447f-1668585768/versicherungskammer-logo-450x300.png": 19666
                  },
                  "bytes": 217543,
                  "types": {
                    "js": 2,
                    "css": 2,
                    "gif": 3,
                    "png": 4
                  },
                  "hosts": {
                    "kreativ-anders.de": "DE",
                    "api.pirsch.io": "DE"
                  },
                  "green": true,
                  "cookies": false,
                  "divification": false,
                  "co2": {
                    "model": "swd",
                    "model_version": 4,
                    "co2js_version": "0.19.0",
                    "per_visit": 0.02632922929,
                    "per_byte": 0.02632922929,
                    "segments": {
                      "operational": 0.014937807638,
                      "embodied": 0.011391421652
                    },
                    "grid_intensity": {
                      "data_center": 330,
                      "network": 494,
                      "device": 494,
                      "source": "Our World in Data (Ember, Energy Institute), CC BY 4.0"
                    },
                    "rating": "A+",
                    "penalized": false,
                    "unit": "g"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/Error", "description": "`url` missing or invalid" },
          "403": { "$ref": "#/components/responses/Error", "description": "CORS preflight from an origin that is not allowed" },
          "405": { "$ref": "#/components/responses/Error", "description": "Method not allowed" },
          "422": { "$ref": "#/components/responses/Error", "description": "IP address as target, port not 443, host not public or domain unknown" },
          "429": {
            "description": "Rate limit reached \u2013 retry after the given number of seconds",
            "headers": { "Retry-After": { "schema": { "type": "integer" }, "description": "Seconds" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": { "$ref": "#/components/responses/Error", "description": "Unexpected error" },
          "502": { "$ref": "#/components/responses/Error", "description": "Page not reachable or HTTP ≥ 400" },
          "503": {
            "description": "Maintenance mode, or every analysis slot is busy",
            "headers": { "Retry-After": { "schema": { "type": "integer" }, "description": "Seconds" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Error": {
        "description": "Error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string", "description": "German message", "example": "Die Webseite konnte nicht abgerufen werden." }
        }
      },
      "Analysis": {
        "type": "object",
        "required": ["meta", "requests", "bytes", "types", "hosts", "green", "cookies", "divification", "co2"],
        "properties": {
          "meta": { "$ref": "#/components/schemas/Meta" },
          "requests": {
            "type": "object",
            "description": "URL → bytes (page, scripts, stylesheets, images)",
            "additionalProperties": { "type": "integer", "minimum": 0 },
            "example": { "https://kreativ-anders.de/": 11858, "https://api.pirsch.io/pirsch.js": 4427, "https://kreativ-anders.de/assets/css/main.min.css": 88362 }
          },
          "bytes": { "type": "integer", "minimum": 0, "description": "Sum of `requests`, uncompressed", "example": 217543 },
          "types": {
            "type": "object",
            "description": "File extension → count",
            "additionalProperties": { "type": "integer", "minimum": 1 },
            "example": { "js": 2, "css": 2, "gif": 3, "png": 4 }
          },
          "hosts": {
            "type": "object",
            "description": "Host → server country (ISO 3166-1 alpha-2), `null` if unknown",
            "additionalProperties": { "type": ["string", "null"] },
            "example": { "kreativ-anders.de": "DE", "api.pirsch.io": "DE" }
          },
          "green": { "type": "boolean", "description": "Green hosting (The Green Web Foundation)", "example": true },
          "cookies": { "type": "boolean", "description": "Sets cookies or loads a consent manager", "example": false },
          "divification": { "type": "boolean", "description": "More than one `<div>` nested ≥ 4 levels deep", "example": false },
          "co2": { "$ref": "#/components/schemas/Co2" }
        }
      },
      "Meta": {
        "type": "object",
        "required": ["url", "analyzed_at", "final_url", "duration_ms", "skipped", "sizes", "truncated", "limits", "cached", "version"],
        "properties": {
          "url": { "type": "string", "format": "uri", "description": "Normalized input URL", "example": "https://kreativ-anders.de/" },
          "analyzed_at": { "type": "string", "format": "date-time", "example": "2026-09-21T17:51:59+02:00" },
          "final_url": { "type": "string", "format": "uri", "description": "URL after redirects", "example": "https://kreativ-anders.de/" },
          "duration_ms": { "type": "integer", "minimum": 0, "example": 1272 },
          "skipped": { "type": "integer", "minimum": 0, "description": "Resources that could not be fetched", "example": 0 },
          "sizes": {
            "type": "object",
            "description": "How resource sizes were measured",
            "required": ["content_length", "download"],
            "properties": {
              "content_length": { "type": "integer", "minimum": 0, "description": "HEAD `Content-Length`", "example": 11 },
              "download": { "type": "integer", "minimum": 0, "description": "Full download", "example": 0 }
            }
          },
          "truncated": { "type": "boolean", "description": "At least one gate was reached (`limits` is not empty)", "example": false },
          "limits": {
            "type": "array",
            "description": "Gates that stopped the analysis early. Any gate rates the page F; bytes and grams are then a lower bound.",
            "items": { "type": "string", "enum": ["time", "resources", "redirects", "resource_bytes", "download_bytes"] },
            "example": []
          },
          "cached": { "type": "boolean", "description": "Served from cache", "example": true },
          "version": { "type": "string", "example": "1.0.0" }
        }
      },
      "Co2": {
        "type": "object",
        "description": "Sustainable Web Design Model v4",
        "required": ["model", "model_version", "co2js_version", "per_visit", "per_byte", "segments", "grid_intensity", "rating", "penalized", "unit"],
        "properties": {
          "model": { "type": "string", "const": "swd" },
          "model_version": { "type": "integer", "const": 4 },
          "co2js_version": { "type": "string", "example": "0.19.0" },
          "per_visit": { "type": "number", "minimum": 0, "description": "g CO2e per visit", "example": 0.02632922929 },
          "per_byte": { "type": "number", "minimum": 0, "description": "g CO2e for `bytes`", "example": 0.02632922929 },
          "segments": {
            "type": "object",
            "description": "`per_visit` split up",
            "required": ["operational", "embodied"],
            "properties": {
              "operational": { "type": "number", "minimum": 0, "description": "Electricity", "example": 0.014937807638 },
              "embodied": { "type": "number", "minimum": 0, "description": "Hardware manufacturing", "example": 0.011391421652 }
            }
          },
          "grid_intensity": {
            "type": "object",
            "description": "g CO2e/kWh",
            "required": ["data_center", "network", "device", "source"],
            "properties": {
              "data_center": { "type": "number", "description": "Byte-weighted average of the server countries", "example": 330 },
              "network": { "type": "number", "description": "Global average", "example": 494 },
              "device": { "type": "number", "description": "Global average", "example": 494 },
              "source": { "type": "string", "example": "Our World in Data (Ember, Energy Institute), CC BY 4.0" }
            }
          },
          "rating": {
            "type": ["string", "null"],
            "enum": ["A+", "A", "B", "C", "D", "E", "F", null],
            "description": "`F` if `penalized`, otherwise `null` for 0 bytes",
            "example": "A+"
          },
          "penalized": { "type": "boolean", "description": "A gate was reached (see `meta.limits`), so the rating is F", "example": false },
          "unit": { "type": "string", "const": "g" }
        }
      }
    }
  }
}
